<div id="signin-containner">
    <h1> Sign In </h1>
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="your email" required>

        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="submit" value="Sign In">
    </form>
</div>