body {
    footer {
        background-color: gray;
        color: black;
        height: auto;
        width: 100%;
        overflow: hidden;
        display: flex;
        p {
            padding: 20px;
        }
        li {
            list-style: none;
            margin: 5px 0;
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                color: rgb(40, 19, 230);
            }
        }
    }
}